@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Signika';
    src: url('../font/Signika-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
}
